<ion-view view-title="Contact Us">
  <ion-content>
  <div class="card">
  <div class="item item-text-wrap">
 <blockquote>Location Information</blockquote> 

 

<p><h2>Our Address</h2></p>

<p><h3>121, Clear Water Bay Road</h3></p>
<p><h3>Clear Water Bay, Kowloon</p></h3>
<p><h3>HONG KONG</p></h3>
<a href="#" class="item item-icon-left">
 <small>   <i class="icon ion-ios-telephone">:</i>
   +852 1234 5678 </small>
  </a>
<a href="#" class="item item-icon-left">
    <i class="icon ion-ios-printer">:</i>
  <small>+852 8765 4321</small>
  </a>
<a href="#" class="item item-icon-left">
    <i class="icon ion-email">:</i>
   <small>confusion@food.net </small>
  </a>



 <button class="button button-medium button-positive"><i class="icon ion-ios-telephone"> Call</i></button>
  <button class="button button-medium button-calm"><i class="icon ion-social-skype"> Skype</i></button>
  <button class="button button-medium button-balanced"><i class="icon ion-email"> Email</i></button>
  
  </div>
</div>
  
   
  </ion-content> 
</ion-view>
